body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    

}
*{
    margin: 0;
    padding: 0;

}


.section-1{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size:1500px;
    height: 600px;
    margin-left: 200px;
  
}
.section-text h1{
  color: white;
  text-align: center;
  padding: 200px;
  font-size: 70px;
  margin-right: 100px;
  font-weight: 600;
 
 

}
.section-text p{
    color: white;
    margin-top:-161px;
    font-size: 18px;
    text-align: center;
    margin-right: 122px;
    font-weight: 500;
    margin-bottom: 40px;
}
.section-text a{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: rgb(238, 100, 50);
    margin-left: 749px;
    margin-top: 20px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}
.section-2{
    margin-left: 200px;
}



.section-3{
    margin-left: 200px;
}



.section-4{
    margin-left: 200px;
}


.section-5{
    margin-left: 200px;
}

